
@media (max-width:750px){
.locales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media (min-width:751px){
.locales{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
}
